vxml.xsd/IVRRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://request.ivr.xml.physiciansmutual.com" 
	xmlns:ivrRequest="http://request.ivr.xml.physiciansmutual.com">

	<xsd:element name="ivrRequest" type="ivrRequest:IvrRequest"></xsd:element>

	<xsd:complexType name="IvrRequest" abstract="true">
		<xsd:sequence>
			<xsd:element name="policyNumber" maxOccurs="1"
				minOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="\d{9}|[a-zA-Z]\d{9}"></xsd:pattern>
						<xsd:whiteSpace value="collapse"></xsd:whiteSpace>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="CallCode">
		<xsd:annotation>
    		<xsd:documentation>
    			Call Code - length of 1. Valid call codes are: S
    			- Standard Call, The only call code that is
    			coded at this time. C - Claims Call, for claims
    			and draft information. I - ID Cards Call, to
    			order id cards. F - Forms Call, to order claims
    			forms.
    		</xsd:documentation>
    	</xsd:annotation>
        <xsd:restriction base="xsd:string">
        	<xsd:enumeration value="B"></xsd:enumeration>
    		<xsd:enumeration value="C"></xsd:enumeration>
    		<xsd:enumeration value="F"></xsd:enumeration>
    		<xsd:enumeration value="I"></xsd:enumeration>
    		<xsd:enumeration value="S"></xsd:enumeration>
    		<xsd:enumeration value="V"></xsd:enumeration>
    	</xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="PolicyServiceRequest">
    	<xsd:complexContent>
    		<xsd:extension base="ivrRequest:IvrRequest">
    			<xsd:sequence>
		    		<xsd:element name="counter" minOccurs="0" maxOccurs="1"
		    			nillable="false">
		    			<xsd:simpleType>
		    				<xsd:restriction base="xsd:string">
		    					<xsd:minLength value="1"></xsd:minLength>
		    					<xsd:maxLength value="4"></xsd:maxLength>
		    					<xsd:pattern value="\d{4}"></xsd:pattern>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
		    		<xsd:element name="callCode" type="ivrRequest:CallCode" minOccurs="1" maxOccurs="1"></xsd:element>
		    		<xsd:element name="environmentCode" minOccurs="0"
		    			maxOccurs="1" nillable="false">
		    			<xsd:simpleType>
		    				<xsd:restriction base="xsd:string">
		    					<xsd:pattern value="[A-Z1-9]{2}"></xsd:pattern>
		    					<xsd:length value="2"></xsd:length>
		    				</xsd:restriction>
		    			</xsd:simpleType>
		    		</xsd:element>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <!-- xsd:complexType name="InsproPolicyDetailsRequest">
        <xsd:annotation>
        	<xsd:documentation>For Inspro request, the policy numbers always start with a character then follows by 9 digits; for example, W071236809.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
    		<xsd:extension base="ivrRequest:IvrRequest">
    			<xsd:sequence>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType-->
    <xsd:complexType name="CouponBookRequest">
    	<xsd:complexContent>
    		<xsd:extension base="ivrRequest:IvrRequest">
    			<xsd:sequence>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
        <xsd:complexType name="PolicyPaymentSummaryRequest">
    	<xsd:complexContent>
    		<xsd:extension base="ivrRequest:IvrRequest">
    			<xsd:sequence>
		    		<xsd:element name="dateOfBirth" maxOccurs="1" minOccurs="1" type="xsd:date"/>
    			</xsd:sequence>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

	<xsd:complexType name="CCSaleEPayRequest">
		<xsd:complexContent>
			<xsd:extension base="ivrRequest:IvrRequest">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="transactionType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4" />
								<xsd:maxLength value="8" />
								<xsd:enumeration value="SALE" />
								<xsd:enumeration value="AUTHONLY" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="cardNumber" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="cardExpirationMonth">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="2" />
								<xsd:maxLength value="2" />
								<xsd:pattern value="[0-9]{2}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="cardExpirationYear">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4" />
								<xsd:maxLength value="4" />
								<xsd:pattern value="[0-9]{4}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="cardType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="VISA" />
								<xsd:enumeration value="MASTERCARD" />
								<xsd:enumeration
									value="DIRECTEXPRESSMASTERCARD" />
								<xsd:enumeration value="DISCOVER" />
								<xsd:enumeration value="AMEX" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="cvv2"
						type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="amount" type="xsd:decimal" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="paymentFrequency">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="ONETIME" />
								<xsd:enumeration value="RECURRING" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="companyCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="3" />
								<xsd:maxLength value="4" />
								<xsd:enumeration value="PMIC" />
								<xsd:enumeration value="PLIC" />
								<xsd:enumeration value="AAA" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" name="secCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="ECI" />
								<xsd:enumeration value="MO" />
								<xsd:enumeration value="TO" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="payAllOutStandingDues" type="xsd:boolean" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- PCI Compliant CC payment request --> 
	<xsd:complexType name="CCSaleEPayRequestPCICompliant">
		<xsd:complexContent>
			<xsd:extension base="ivrRequest:IvrRequest">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="transactionType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4" />
								<xsd:maxLength value="8" />
								<xsd:enumeration value="SALE" />
								<xsd:enumeration value="AUTHONLY" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="paymentMethodId" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="customerId" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="cardNumber">
						<xsd:simpleType>
						<xsd:restriction base="xsd:string">
								<xsd:minLength value="4" />
								<xsd:maxLength value="4" />
						</xsd:restriction>
						</xsd:simpleType> 
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="cardExpirationMonth">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="2" />
								<xsd:maxLength value="2" />
								<xsd:pattern value="[0-9]{2}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0"
						name="cardExpirationYear">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4" />
								<xsd:maxLength value="4" />
								<xsd:pattern value="[0-9]{4}" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="cardType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="VISA" />
								<xsd:enumeration value="MASTERCARD" />
								<xsd:enumeration
									value="DIRECTEXPRESSMASTERCARD" />
								<xsd:enumeration value="DISCOVER" />
								<xsd:enumeration value="AMEX" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="amount" type="xsd:decimal" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="paymentFrequency">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="ONETIME" />
								<xsd:enumeration value="RECURRING" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="companyCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="3" />
								<xsd:maxLength value="4" />
								<xsd:enumeration value="PMIC" />
								<xsd:enumeration value="PLIC" />
								<xsd:enumeration value="AAA" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element minOccurs="1" name="secCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="ECI" />
								<xsd:enumeration value="MO" />
								<xsd:enumeration value="TO" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="payAllOutStandingDues" type="xsd:boolean" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ACHSaleEPayRequest">
		<xsd:complexContent>
			<xsd:extension base="ivrRequest:IvrRequest">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="secCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="3" />
								<xsd:maxLength value="3" />
								<xsd:enumeration value="PPD" />
								<xsd:enumeration value="CCD" />
								<xsd:enumeration value="TEL" />
								<xsd:enumeration value="WEB" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>

					<xsd:element maxOccurs="1" minOccurs="1"
						name="routingNumber" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="accountNumber" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="accountType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="7" />
								<xsd:maxLength value="8" />
								<xsd:enumeration value="CHECKING" />
								<xsd:enumeration value="SAVINGS" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="amount" type="xsd:decimal" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="paymentFrequency">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="ONETIME" />
								<xsd:enumeration value="RECURRING" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="companyCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="3" />
								<xsd:maxLength value="4" />
								<xsd:enumeration value="PMIC" />
								<xsd:enumeration value="PLIC" />
								<xsd:enumeration value="AAA" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="payAllOutStandingDues" type="xsd:boolean" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ACHSaleEPayRequestPCICompliant">
		<xsd:complexContent>
			<xsd:extension base="ivrRequest:IvrRequest">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="paymentMethodId" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="customerId" type="xsd:string" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="secCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="3" />
								<xsd:maxLength value="3" />
								<xsd:enumeration value="PPD" />
								<xsd:enumeration value="CCD" />
								<xsd:enumeration value="TEL" />
								<xsd:enumeration value="WEB" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
				
					<xsd:element maxOccurs="1" minOccurs="1"
						name="routingNumber">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4" />
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					
					<xsd:element maxOccurs="1" minOccurs="1"
						name="accountNumber">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="4" />
								<xsd:maxLength value="4" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>		
						
						
					<xsd:element maxOccurs="1" minOccurs="1"
						name="accountType">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="7" />
								<xsd:maxLength value="8" />
								<xsd:enumeration value="CHECKING" />
								<xsd:enumeration value="SAVINGS" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="amount" type="xsd:decimal" />
					<xsd:element maxOccurs="1" minOccurs="1"
						name="paymentFrequency">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:enumeration value="ONETIME" />
								<xsd:enumeration value="RECURRING" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1"
						name="companyCode">
						<xsd:simpleType>
							<xsd:restriction base="xsd:string">
								<xsd:minLength value="3" />
								<xsd:maxLength value="4" />
								<xsd:enumeration value="PMIC" />
								<xsd:enumeration value="PLIC" />
								<xsd:enumeration value="AAA" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="payAllOutStandingDues" type="xsd:boolean" maxOccurs="1" minOccurs="1"></xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>
